@import url(..//animate.css) screen and (max-width: 768px);

html {
  font-size: 16px;
  --white: #ffffff;
  font-family: "Rosario", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

header {
  position: sticky;
  top: 0px;
  z-index: 5;
}

/* Header - START  */

.head {
  display: flex;
  min-height: 129px;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}

.head__logo {
  background-color: var(--white);
}

.nav {
  min-width: 50%;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-style: oblique;
  font-weight: bold;
}

.nav__menu a {
  padding: 10px;
}

.nav__menu:last-child {
  margin-right: 30px;
}

/* Header - END  */

/* Main, section one - START  */

.wrapper-img {
  margin-bottom: 100px;
  overflow: hidden;
}

.wrapper-img,
.center__img {
  display: flex;
}

.center__img {
  text-align: center;
  max-width: 50%;
}

.center__img__left {
  animation: center-img-left 1s;
  margin-right: 50px;
}

.center__img__right {
  animation: center-img-right 1s;
}

.left__img {
  animation: left-img 2s;
}

.right__img {
  animation: right-img 2s;
}

.center__img__left img:first-child,
.center__img__right img:first-child {
  margin-bottom: 42px;
}

.wrapper-img img {
  max-width: 100%;
  margin: 0 auto;
}

.center__img {
  margin-top: 71px;
}

.left__img,
.right__img {
  margin-top: 189px;
}

.left__img {
  margin-right: 72px;
  margin-left: 45px;
}

.right__img {
  margin-left: 72px;
  margin-right: 45px;
}

@keyframes center-img-left {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes center-img-right {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes left-img {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes right-img {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Main, section one - END  */

/* Main, section services - START  */

.block-services {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  column-gap: 20px;
  padding-left: 100px;
}

.ellipses {
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.ellipses-left {
  margin: 0 auto;
}

.ellipses-right {
  margin: 0 auto;
}

.ellipses img {
  max-width: 80%;
  margin-bottom: 19px;
}

.ellipses h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.img-hairdresser {
  max-height: 95vh;
  object-fit: cover;
}

.img-hairdresser img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  min-width: 300px;
}

.ellipse-1 {
  animation: 5s ellipse1 infinite;
}

.ellipse-2 {
  animation: 5s ellipse2 infinite;
}

.ellipse-3 {
  animation: 5s ellipse3 infinite;
}

.ellipse-4 {
  animation: 5s ellipse4 infinite;
}

@keyframes ellipse1 {
  0% {
    transform: translate(0%);
  }

  25% {
    transform: translate(100%, 0%);
  }

  50% {
    transform: translate(100%, 108%);
  }

  75% {
    transform: translate(0%, 108%);
  }
}

@keyframes ellipse2 {
  0% {
    transform: translate(0%);
  }

  25% {
    transform: translate(0%, -108%);
  }

  50% {
    transform: translate(100%, -108%);
  }

  75% {
    transform: translate(100%, 0%);
  }
}

@keyframes ellipse3 {
  0% {
    transform: translate(0%);
  }

  25% {
    transform: translate(0, 108%);
  }

  50% {
    transform: translate(-100%, 108%);
  }

  75% {
    transform: translate(-100%, 0%);
  }
}

@keyframes ellipse4 {
  0% {
    transform: translate(0%);
  }

  25% {
    transform: translate(-100%, 0%);
  }

  50% {
    transform: translate(-100%, -108%);
  }

  75% {
    transform: translate(0%, -108%);
  }
}

/* Main, section services - END  */

/* Main, section hairdressers - START  */

.hairdressers img,
.hairdressers1 img,
.hairdressers2 img,
.hairdressers3 img,
.hairdressers4 img {
  transition: 0.5s;
  max-width: 100%;
}

.hairdressers h2 {
  font-size: 5.5rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

.hairdressers-img {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}

.hairdressers1,
.hairdressers2,
.hairdressers3,
.hairdressers4 {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  box-sizing: border-box;
}

.wrapper__img-hrd1:hover::before {
  content: "Meredith";
  position: absolute;
  bottom: 4px;
  color: var(--white);
  font-size: 3rem;
  background-color: #a76222;
  padding: 40px 0px;
  z-index: 1;
  border-radius: 0% 0% 2.7rem 2.7rem;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

.wrapper__img-hrd2:hover::before {
  content: "Jason";
  position: absolute;
  bottom: 4px;
  color: var(--white);
  font-size: 3rem;
  background-color: #a76222;
  padding: 40px 0px;
  z-index: 1;
  border-radius: 0% 0% 2.7rem 2.7rem;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

.wrapper__img-hrd3:hover::before {
  content: "Ryan";
  position: absolute;
  bottom: 4px;
  color: var(--white);
  font-size: 3rem;
  background-color: #a76222;
  padding: 40px 0px;
  z-index: 1;
  border-radius: 0% 0% 2.7rem 2.7rem;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

.wrapper__img-hrd4:hover::before {
  content: "James";
  position: absolute;
  bottom: 4px;
  color: var(--white);
  font-size: 3rem;
  background-color: #a76222;
  padding: 40px 0px;
  z-index: 1;
  border-radius: 0% 0% 2.7rem 2.7rem;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

.hairdressers:hover img {
  filter: brightness(0.3);
}

.hairdressers1:hover img {
  filter: brightness(1);
}

.hairdressers2:hover img {
  filter: brightness(1);
}

.hairdressers3:hover img {
  filter: brightness(1);
}

.hairdressers4:hover img {
  filter: brightness(1);
}

/* Main, section hairdressers - END  */

/* footer - START  */

.footer {
  margin: 0 auto;
  max-width: 98%;
}

.footer-location {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.footer-location__input {
  max-width: 55%;
  margin-right: 50px;
}

.footer-location__input h1 {
  font-size: 3.5rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

#textarea__message {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 250px;
  border: 20px solid #e5e5e5;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  resize: none;
  padding-top: 10px;
}

#input__name {
  box-sizing: border-box;
  width: 50%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  height: 80px;
  border: 20px solid #e5e5e5;
  padding-left: 15px;
}

input[type="email"] {
  box-sizing: border-box;
  width: 50%;
  height: 80px;
  border: 20px solid #e5e5e5;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
}

.footer-contacts {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

.footer-contacts a {
  color: black;
}

.footer-logo {
  width: 26px;
  height: 26px;
}

.footer-contacts__time h2 {
  margin-bottom: 30px;
}

.footer-contacts__connect img {
  margin-right: 15px;
}

/* footer - end  */

/* @media - start  */

@media (max-width: 768px) {
  /* Header - START  */

  .nav {
    align-items: center;
  }

  .nav__menu-link {
    font-size: .9rem;
  }

  .head {
    display: block;
    overflow: hidden;
    min-height: auto;
  }

  .head img {
    display: none;
  }

  .nav__menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Header - END  */

  /* MEDIA section 1 start */

  .wrapper-img {
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
  }

  .wrapper-img,
  .center__img {
    display: block;
    overflow: hidden;
  }

  .center__img {
    margin: 0 auto;
    max-width: 70%;
  }

  .center__img__left {
    margin-right: 0px;
  }

  .center__img img {
    padding-top: 35px;
  }

  .center__img__left img:first-child,
  .center__img__right img:first-child {
    margin: 0px;
  }

  .wrapper-img img {
    width: 100%;
    margin: 0 auto;
  }

  .left__img,
  .right__img {
    margin-top: 35px;
  }

  .left__img {
    width: 70%;
    margin: 0 auto;
  }

  .right__img {
    width: 70%;
    margin: 35px auto 60px;
  }

  @keyframes center-img-left {
    0% {
      transform: none;
    }

    100% {
      transform: none;
    }
  }

  @keyframes left-img {
    0% {
      transform: none;
    }

    100% {
      transform: none;
    }
  }

  @keyframes center-img-right {
    0% {
      transform: none;
    }

    100% {
      transform: none;
    }
  }

  @keyframes right-img {
    0% {
      transform: none;
    }

    100% {
      transform: none;
    }
  }

  /* MEDIA section 1 end */

  /* Main, section services - START  */

  .block-services {
    height: auto;
    overflow: hidden;
    margin-bottom: 0px;
  }

  .ellipses-left {
    margin: 0 auto;
  }

  .ellipses-right {
    margin: 0 auto;
  }

  .ellipses {
    column-gap: 5%;
    width: 80%;
  }

  .ellipses img {
    max-width: initial;
    width: 80%;
    margin-bottom: 19px;
  }

  .ellipses h2 {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .img-hairdresser {
    display: none;
  }

  .block-services {
    display: flex;
    height: auto;
    column-gap: 0px;
    padding: 0px;
    justify-content: space-between;
  }

  .ellipse-1 {
    animation: 5s ellipse1 infinite;
  }

  .ellipse-3 {
    animation: 5s ellipse3 infinite;
  }

  .ellipse-4 {
    animation: 5s ellipse4 infinite;
  }

  .ellipse-2 {
    animation: 5s ellipse2 infinite;
  }

  @keyframes ellipse1 {
    0% {
      transform: none;
    }

    25% {
      transform: none;
    }

    50% {
      transform: none;
    }

    75% {
      transform: none;
    }
  }

  @keyframes ellipse3 {
    0% {
      transform: none;
    }

    25% {
      transform: none;
    }

    50% {
      transform: none;
    }

    75% {
      transform: none;
    }
  }

  @keyframes ellipse4 {
    0% {
      transform: none;
    }

    25% {
      transform: none;
    }

    50% {
      transform: none;
    }

    75% {
      transform: none;
    }
  }

  @keyframes ellipse2 {
    0% {
      transform: none;
    }

    25% {
      transform: none;
    }

    50% {
      transform: none;
    }

    75% {
      transform: none;
    }
  }

  @keyframes ellipse1 {
    0% {
      transform: translate(0%);
    }

    25% {
      transform: translate(111%, 0%);
    }

    50% {
      transform: translate(111%, 117%);
    }

    75% {
      transform: translate(0%, 117%);
    }
  }

  @keyframes ellipse2 {
    0% {
      transform: translate(0%);
    }

    25% {
      transform: translate(0%, -117%);
    }

    50% {
      transform: translate(111%, -117%);
    }

    75% {
      transform: translate(111%, 0%);
    }
  }

  @keyframes ellipse3 {
    0% {
      transform: translate(0%);
    }

    25% {
      transform: translate(0%, 117%);
    }

    50% {
      transform: translate(-111%, 117%);
    }

    75% {
      transform: translate(-111%, 0%);
    }
  }

  @keyframes ellipse4 {
    0% {
      transform: translate(0%);
    }

    25% {
      transform: translate(-111%, 0%);
    }

    50% {
      transform: translate(-111%, -117%);
    }

    75% {
      transform: translate(0%, -117%);
    }
  }

  /* Main, section services - END  */

  /* Main, section hairdressers - START  */

  .hairdressers img,
  .hairdressers1 img,
  .hairdressers2 img,
  .hairdressers3 img,
  .hairdressers4 img {
    transition: 0.5s;
  }

  .hairdressers h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .hairdressers-img {
    display: block;
    margin: 0 auto;
  }

  .hairdressers-img img {
    overflow: hidden;
  }

  .hairdressers1 img,
  .hairdressers2 img,
  .hairdressers3 img,
  .hairdressers4 img {
    position: relative;
    margin-bottom: 30px;
  }

  .hairdressers1,
  .hairdressers2,
  .hairdressers3,
  .hairdressers4 {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .wrapper__img-hrd1:hover::before {
    content: "Meredith";
    position: absolute;
    bottom: 34px;
    color: var(--white);
    font-size: 3rem;
    background-color: #a76222;
    padding: 40px 60.5px;
    z-index: 1;
    border-radius: 0px 0px 40px 40px;
    width: 267px;
    opacity: 0.8;
  }

  .wrapper__img-hrd2:hover::before {
    content: "Jason";
    position: absolute;
    bottom: 34px;
    color: var(--white);
    font-size: 3rem;
    background-color: #a76222;
    padding: 40px 54.5px;
    z-index: 1;
    border-radius: 0px 0px 40px 40px;
    width: 267px;
    opacity: 0.8;
  }

  .wrapper__img-hrd3:hover::before {
    content: "Ryan";
    position: absolute;
    bottom: 34px;
    color: var(--white);
    font-size: 3rem;
    background-color: #a76222;
    padding: 40px 58.5px;
    z-index: 1;
    border-radius: 0px 0px 40px 40px;
    width: 267px;
    opacity: 0.8;
  }

  .wrapper__img-hrd4:hover::before {
    content: "James";
    position: absolute;
    bottom: 34px;
    color: var(--white);
    font-size: 3rem;
    background-color: #a76222;
    padding: 40px 56.5px;
    z-index: 1;
    border-radius: 0px 0px 40px 40px;
    width: 267px;
    opacity: 0.8;
  }

  .hairdressers:hover img {
    filter: brightness(0.3);
  }

  .hairdressers1:hover img {
    filter: brightness(1);
  }

  .hairdressers2:hover img {
    filter: brightness(1);
  }

  .hairdressers3:hover img {
    filter: brightness(1);
  }

  .hairdressers4:hover img {
    filter: brightness(1);
  }

  /* Main, section hairdressers - END  */

  /* footer - START  */

  .footer {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
  }

  .footer-location {
    display: block;
  }

  .footer-location__input {
    max-width: 90%;
    margin-right: 0px;
    margin-left: 25px;
  }

  .footer-location__input h1 {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    margin: 60px 0px 20px;
  }

  #textarea__message {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 250px;
    border: 20px solid #e5e5e5;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    resize: none;
    padding-top: 10px;
    font-size: 0.8rem;
  }

  #input__name {
    box-sizing: border-box;
    width: 50%;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    height: 80px;
    border: 20px solid #e5e5e5;
    padding-left: 15px;
    font-size: 0.8rem;
  }

  input[type="email"] {
    box-sizing: border-box;
    width: 50%;
    height: 80px;
    border: 20px solid #e5e5e5;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    font-size: 0.8rem;
  }

  .footer-location__maps iframe {
    text-align: center;
    margin-top: 50px;
    width: 350px;
    height: 300px;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }

  .footer-contacts a {
    color: black;
  }

  .footer-logo {
    width: 26px;
    height: 26px;
  }

  .footer-contacts__time h2 {
    margin: 30px 0px 10px;
  }

  .footer-contacts__connect h2 {
    margin: 30px 0px 10px;
  }

  .footer-contacts__connect img {
    margin-right: 15px;
  }

  /* footer - end  */
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* Header - START  */

  .nav {
    align-items: center;
  }

  .nav__menu-link {
    font-size: 1.4rem;
  }

  .head {
    display: flex;
    overflow: hidden;
  }

  .nav__menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Header - END  */

  /* Main, section one - START  */

  .wrapper-img {
    flex-wrap: wrap;
    display: flex;
    min-height: auto;
    height: auto;
    margin-bottom: 100px;
    overflow: hidden;
    width: 100%;
    justify-content: space-evenly;
  }

  .center__img {
    max-width: 80%;
    margin: 30px auto;
    box-sizing: border-box;
  }

  .center__img__left {
    animation: center-img-left 1s;
    margin-right: 50px;
  }

  .center__img__right {
    animation: center-img-right 1s;
  }

  .left__img {
    animation: right-img 2s;
    width: 30%;
    margin: 0;
    float: right;
    order: 1;
  }

  .right__img {
    animation: left-img 2s;
    width: 30%;
    margin: 0;
  }

  .center__img__left img:first-child,
  .center__img__right img:first-child {
    margin-bottom: 42px;
  }

  .wrapper-img img {
    width: 100%;
    margin: 0 auto;
  }

  @keyframes center-img-left {
    0% {
      transform: translateX(-150%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes center-img-right {
    0% {
      transform: translateX(150%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes left-img {
    0% {
      transform: translateX(-150%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes right-img {
    0% {
      transform: translateX(150%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  /* Main, section one - END  */

  /* Main, section services - START  */

  .block-services {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    justify-content: space-between;
    column-gap: 20px;
    padding-left: 100px;
    margin-bottom: 0px;
  }

  .ellipses {
    display: flex;
    text-align: center;
    margin-right: 70px;
    column-gap: 85px;
    margin: 0px 70px 70px 0px;
  }

  .ellipses-left {
    margin: 0 auto;
  }

  .ellipses img {
    max-width: 100%;
    margin-bottom: 19px;
  }

  .ellipses h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .img-hairdresser {
    height: auto;
    max-height: none;
    object-fit: cover;
    margin-bottom: 100px;
  }

  .img-hairdresser img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
  }

  .ellipse-1 {
    animation: 5s ellipse1 infinite;
  }

  .ellipse-3 {
    animation: 5s ellipse3 infinite;
  }

  .ellipse-4 {
    animation: 5s ellipse4 infinite;
  }

  .ellipse-2 {
    animation: 5s ellipse2 infinite;
  }

  @keyframes ellipse1 {
    0% {
      transform: translate(0%);
    }

    25% {
      transform: translate(124%, 0%);
    }

    50% {
      transform: translate(124%, 107%);
    }

    75% {
      transform: translate(0%, 107%);
    }
  }

  @keyframes ellipse3 {
    0% {
      transform: translate(0%);
    }

    25% {
      transform: translate(0, 107%);
    }

    50% {
      transform: translate(-124%, 107%);
    }

    75% {
      transform: translate(-124%, 0%);
    }
  }

  @keyframes ellipse4 {
    0% {
      transform: translate(0%);
    }

    25% {
      transform: translate(-124%, 0%);
    }

    50% {
      transform: translate(-124%, -107%);
    }

    75% {
      transform: translate(0%, -107%);
    }
  }

  @keyframes ellipse2 {
    0% {
      transform: translate(0%);
    }

    25% {
      transform: translate(0%, -107%);
    }

    50% {
      transform: translate(124%, -107%);
    }

    75% {
      transform: translate(124%, 0%);
    }
  }

  /* Main, section services - END  */

  /* Main, section hairdressers - START  */

  .hairdressers img,
  .hairdressers1 img,
  .hairdressers2 img,
  .hairdressers3 img,
  .hairdressers4 img {
    transition: 0.5s;
    /* max-width: 110%; */
  }

  .hairdressers h2 {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 50px;
  }

  .hairdressers-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 35px;
  }

  .hairdressers1,
  .hairdressers2,
  .hairdressers3,
  .hairdressers4 {
    position: relative;
    max-width: 50%;
  }

  .wrapper__img-hrd1:hover::before {
    content: "Meredith";
    position: absolute;
    bottom: 4px;
    color: var(--white);
    font-size: 3rem;
    background-color: #a76222;
    padding: 40px 0px;
    z-index: 1;
    border-radius: 0% 0% 2.7rem 2.7rem;
    opacity: 0.8;
    width: 100%;
    text-align: center;
  }

  .wrapper__img-hrd2:hover::before {
    content: "Jason";
    position: absolute;
    bottom: 4px;
    color: var(--white);
    font-size: 3rem;
    background-color: #a76222;
    padding: 40px 0px;
    z-index: 1;
    border-radius: 0% 0% 2.7rem 2.7rem;
    opacity: 0.8;
    width: 100%;
    text-align: center;
  }

  .wrapper__img-hrd3:hover::before {
    content: "Ryan";
    position: absolute;
    bottom: 4px;
    color: var(--white);
    font-size: 3rem;
    background-color: #a76222;
    padding: 40px 0px;
    z-index: 1;
    border-radius: 0% 0% 2.7rem 2.7rem;
    opacity: 0.8;
    width: 100%;
    text-align: center;
  }

  .wrapper__img-hrd4:hover::before {
    content: "James";
    position: absolute;
    bottom: 4px;
    color: var(--white);
    font-size: 3rem;
    background-color: #a76222;
    padding: 40px 0px;
    z-index: 1;
    border-radius: 0% 0% 2.7rem 2.7rem;
    opacity: 0.8;
    width: 100%;
    text-align: center;
  }

  .hairdressers:hover img {
    filter: brightness(0.3);
  }

  .hairdressers1:hover img {
    filter: brightness(1);
  }

  .hairdressers2:hover img {
    filter: brightness(1);
  }

  .hairdressers3:hover img {
    filter: brightness(1);
  }

  .hairdressers4:hover img {
    filter: brightness(1);
  }

  /* footer - START  */

  .footer {
    margin: 0 auto;
    max-width: 100%;
  }

  .footer-location {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-location__input {
    max-width: 70%;
    margin-bottom: 50px;
    margin-right: 0px;
  }

  .footer-location__input h1 {
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
  }

  #textarea__message {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 250px;
    border: 20px solid #e5e5e5;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    resize: none;
    padding-top: 10px;
  }

  #input__name {
    box-sizing: border-box;
    width: 50%;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    height: 80px;
    border: 20px solid #e5e5e5;
    padding-left: 15px;
  }

  input[type="email"] {
    box-sizing: border-box;
    width: 50%;
    height: 80px;
    border: 20px solid #e5e5e5;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 15px;
  }

  .footer-contacts {
    display: flex;
    margin-top: 100px;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }

  .footer-contacts a {
    color: black;
  }

  .footer-logo {
    width: 26px;
    height: 26px;
  }

  .footer-contacts__time h2 {
    margin-bottom: 30px;
  }

  .footer-contacts__connect img {
    margin-right: 15px;
  }

  /* footer - end  */
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  .nav__menu {
    font-size: 1.7rem;
  }

  .wrapper__img-hrd1:hover::before {
    border-radius: 0% 0% 1.8rem 1.8rem;
  }

  .wrapper__img-hrd2:hover::before {
    border-radius: 0% 0% 1.8rem 1.8rem;
  }

  .wrapper__img-hrd3:hover::before {
    border-radius: 0% 0% 1.8rem 1.8rem;
  }

  .wrapper__img-hrd4:hover::before {
    border-radius: 0% 0% 1.8rem 1.8rem;
  }

  .footer-location__input h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1620px) {
  body {
    width: 1600px; /* ширина для больших экранов */
    margin: 0 auto;
  }

  .wrapper-img {
    min-height: 1px;
    margin-bottom: 50px;
  }

  .block-services {
    height: 936px;
  }
}

